@import './variables.scss';

@mixin specialBtn($fc, $bg, $hg) {
  background: $bg;
  color: $fc;
  border: none;
  box-shadow: 0 0 7px $btnShadow;
  padding: 8px 25px !important;
  transition: 500ms ease all;
  font-weight: bold !important;
  letter-spacing:2px;
  &:hover {
    color: $fc;
    background-color: $hg;
  }
  &:focus{
    color: $active-fc;
    background-color: $active-fbg;
  }
}

.add-btn {
  @include specialBtn($btn-color,$add-bg,$add-hg)
}
.update-btn {
  @include specialBtn($btn-color,$update-bg,$update-hg)
}
.del-btn {
  @include specialBtn($btn-color,$del-bg,$del-hg)
}
.uploading-btn {
  @include specialBtn($btn-color,$uploading-bg,$uploading-hg)
}
.download-btn {
  @include specialBtn($btn-color,$download-bg,$download-hg)
}
.search-btn {
  @include specialBtn($btn-color,$search-bg,$search-hg)
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}
