// cover some element-ui styles
@import './variables.scss';
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 500 !important;
    color: $breadcrumbcolor;
    font-weight: bold;
  &:hover{
    color: $breadcrumbhover;
  }
}
.el-dropdown-menu__item{
  transition: background .3s ease;
  &:hover{
    color: #fff !important;
    background-color: $menuBg !important;
  }
}

.el-scrollbar__wrap{ overflow-x: hidden; }
.el-popper.highest .el-scrollbar__wrap {
  height: 340px;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    min-width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

.el-dialog {
  border-radius: 10px;
  border: 2px solid $tableHeaderBg;
  box-shadow: 0 0 5px  $tableHeaderBg inset;
  overflow: hidden;
  .el-dialog__header, .el-dialog__footer{
    padding: 10px 20px;
  }
  .el-dialog__title, .el-dialog__close, .el-form-item__label{
     color: $tableHeaderBg;
     font-weight: 500;
  }
  .el-dialog__headerbtn{
    margin-top: -1ex;
  }
  .el-dialog__body{
    padding: 0 20px
  }
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}
.el-table--small {
  font-size: 1rem;
  color: #303133;
}
.el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}

.el-table__row.disabled-row {
  pointer-events: none;

  .cell {
    opacity: .5;
  }
}

.el-table th.is-leaf, .el-table td {
  border-bottom: 1px solid $tableColor;
}
.el-table {
  border-color: $tableColor ;
  border-bottom:  1px solid $tableColor;
  color: $tableHeaderBg;
  border-radius: 5px;
  overflow: hidden;
}
.el-table th{
  background-color:$tableHeaderBg;
  border-color: none;
  color: #fff;
  font-size: larger;
  padding: 4px 0;
  font-weight: bold;
}
.el-pagination, .el-pagination__total, .el-pagination__jump{
  color: $tableHeaderBg;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.el-select-dropdown__item, .el-dialog__title, .el-dialog__body{
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  -o-user-select: none; /* Opera*/
  user-select: none;
}


.login-form>.el-form{
  .el-form-item{
    margin-bottom: 30px;
    .el-form-item__label{
      color: rgb(81, 223, 241);
    }
    .el-form-item__content{
       >.el-input>.el-input__inner{
        background-color: rgb(0, 34, 85);
        border: 2px solid rgb(5, 76, 131);
        width: 350px;
        &:hover{
          border: 2px solid rgb(81, 223, 241);
        }
        color: rgb(81, 223, 241);
      }
      >.operation{
        >.el-checkbox{
          border: 2px solid rgb(5, 76, 131);
          color: rgb(81, 223, 241);
          background-color: rgb(0, 34, 85);
          margin-right: 15px;
        }
        >.el-input>.el-input__inner{
          background-color: rgb(0, 34, 85);
          border: 2px solid rgb(5, 76, 131);
          width: 150px;
          &:hover{
            border: 2px solid rgb(81, 223, 241);
          }
          color: rgb(81, 223, 241);
        }
      }
      
    }
  }
}
