// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$write: #e8e8e8;


// sidebar
$menuText:#f3f3f3;
$menuActiveText:#ff502f;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#115363;
$menuHover: linear-gradient(-57deg, #115363 32%, #002F3D 7%);

$subMenuBg:#053944; 
$subMenuHover: linear-gradient(-57deg, #053944 32%, #002530 7%);

$sideBarWidth: 210px;
// breadcrumbhover
$breadcrumbhover: #ff502f;
$breadcrumbcolor: #1facc5;
// navbar
$navbarBg:#fff;
$navbarBoxshadow: 0 1px 4px rgba(0,21,41,.08);
$hamburgerColor: #115363;
$screenfullColor:  $hamburgerColor;
// clock
$clockColor: $hamburgerColor;
$clockTextShadow: #0234637a;
$clockTextBrightness: rgba(119, 178, 218, 0.295);
// LoginUser
$loginUserColor: $hamburgerColor;
// tagsView
$activetagsViewBg: #115363;
$activetagsViewfontColor: #fff;
$activecontextmenuBg: $navbarBg;
$activecontextmenufc: #1facc5;
$tagsViewItemBorder:  #d4cfcf;
$tagsViewItemColor: #1facc5;
$tagsViewItemBg:  #fff;
$tagsbarBg:  rgb(247, 247, 247);
$tagsbarBorBc:  #d8dce5;
$tagsbarBoxShadow:  0 1px 5px 0 rgba(0, 0, 0, 0.822), 0 0 5px 0 rgba(0, 0, 0, 0.712);
$tagsbarBg:  rgb(247, 247, 247);
// container
$containerBg: #fff;
// container-main
$cteMainboxShadow: #a3a3a3;
$cteMainBg: rgb(241, 241, 241);



// button 
$btn-color: #F8F9FC;
$btnShadow: #808080;

$add-bg: $menuBg;
$update-bg: #F7B32D;
$del-bg: #DE1B1B;
$uploading-bg: #623f2b;
$download-bg: #DE3C3C;
$search-bg: #2CC0B3;
// button active
$active-fc: #F8F9FC;
$active-fbg: #0098acab;
// button hover
$add-hg: #348498;
$update-hg: #FBC761;
$del-hg: #EF5151;
$uploading-hg: #B19366;
$download-hg: #F87f7f;
$search-hg: #5ee0D6;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  hamburgerColor: $hamburgerColor;
}
