// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// navbar
$navbarBg:#fff;
$navbarBoxshadow: 0 1px 4px rgba(0,21,41,.08);
$hamburgerColor: #5a5e66;
$screenfullColor:  $hamburgerColor;
// clock
$clockColor: $hamburgerColor;
$clockTextShadow: #0234637a;
$clockTextBrightness: rgba(119, 178, 218, 0.295);
// LoginUser
$loginUserColor: $hamburgerColor;
// tagsView
$activetagsViewBg: #0b6294;
$activetagsViewfontColor: #fff;
$activecontextmenuBg: $navbarBg;
$activecontextmenufc: #333;
$tagsViewItemBorder:  #d4cfcf;
$tagsViewItemColor: #495060;
$tagsViewItemBg:  #fff;
$tagsbarBg:  rgb(247, 247, 247);
$tagsbarBorBc:  #d8dce5;
$tagsbarBoxShadow:  0 1px 3px 0 rgba(0, 0, 0, 0.185), 0 0 3px 0 rgba(0, 0, 0, .04);
$tagsbarBg:  rgb(247, 247, 247);

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  hamburgerColor: $hamburgerColor;
}
